<link rel='stylesheet' href='/stylesheets/login.css' />

<body>
	<div class="row justify-content-center">
		<div class="col-5">
			<div class="card mb-1 mt-5">
				<div class="card-body mb-5 mr-5 ml-5 ">
					<img src="/images/logo1.png" alt="" class="img-fluid mb-10" width="30%">
					<form action="/admin" method="get">
						<div class="form-group mb-3">
							<h4 align="center" class="login mb-1" style="color:#0984e3"><b> LOGIN</b></h4>
							<label for="inputEmail" class="email mb-1">Email</label>
							<input type="email" name="email" placeholder="Email Anda" id="inputEmail"
								class="form-control mb-1">
						</div>
						<div class="form-group">
							<label for="inputPassword">Kata Sandi </label>
							<input type="password" name="password" placeholder="Masukan Kata Sandi" id="inputPassword"
								class="form-control">
						</div>
						<button type="submit" class="btn btn-primary mr-1 ml-1">Masuk </button>

						<a href="#" title="Lupa Kata Sandi" class="col-1"> Lupa Kata Sandi? </a>
				</div>
			</div>
		</div>
	</div>
</body>